/* utls css */
div.sidebar-container{
    height: 100vh;
    width: 25vw;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;

    /* background-color: #FAFAFA; */
  /* opacity: 0.7; */
  /* background-color: #FAFAFA; */
/* opacity: 0.4; */
/* background-color: #FAFAFA; */
opacity: 1;
/* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #FAFAFA 40px ), repeating-linear-gradient( #F7D08A55, #F7D08A ); */
  
background: 
      radial-gradient(calc(1.28*40px + 15px/2) at left 50% bottom calc(-.8*40px),#fafafa calc(100% - 15px),#ffe6c7 calc(101% - 15px) 100%,#0000 101%) calc(2*40px) calc(-1*calc(1.5*40px + 15px)),
      radial-gradient(calc(1.28*40px + 15px/2) at left 50% bottom calc(-.8*40px),#c7c7c7 calc(100% - 15px),#ffe6c7 calc(101% - 15px) 100%,#0000 101%) calc(-1*40px) calc(calc(1.5*40px + 15px)/-2),
      radial-gradient(calc(1.28*40px + 15px/2) at left 50% top    calc(-.8*40px),#c7c7c7 calc(100% - 15px),#ffe6c7 calc(101% - 15px) 100%,#0000 101%) 0 calc(1.5*40px + 15px),
      radial-gradient(calc(1.28*40px + 15px/2) at left 50% top    calc(-.8*40px),#fafafa calc(100% - 15px),#ffe6c7 calc(101% - 15px) 100%,#0000 101%) 40px calc(calc(1.5*40px + 15px)/ 2),
      linear-gradient(#fafafa 50%,#c7c7c7 0);
background-size: calc(4*40px) calc(1.5*40px + 15px);




  }
  
  
  div.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    width: 25vw;
    /* background-color: blue; */
    /* background-color: #FAFAFA; */
    /* opacity: 0.85; */
    background: none;

  }
  
  div.order{
    height: 60vh;
    width: 25vw;
  background: none;

  
  position: relative;
  overflow: scroll;

  background-image: url("../images/chef-holding-wine.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  }

div.order::-webkit-scrollbar {
    display: none;
  }

  div.order{
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  
  /* styles css */
  div.sidebar-container{
    box-shadow: 2px 0 2px rgba(104, 103, 103, 0.6); 
    opacity: 0.8;
}

div.order-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

  /* menu */
div.menu{
    /* background-color: #FAFAFA; */
}

div.options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.a-menu{  margin: 7px 0;
    text-decoration: none;
    color: #CC9B6D;
    font-family: 'Barriecito', cursive;
    font-weight: 800;

    font-size: x-large;
    font-stretch: expanded;
    text-transform: uppercase;
    width: fit-content;
    

}

a.a-menu:hover, a.a-menu:active{
    font-size: xxx-large;
    color: #E5890A;
}

a.a-menu:active{
  text-decoration: underline;
}

h1{
    margin: 0;
    /* margin-left: 75px; */
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
    color: #9D5C0D;
    display: inline;
}

div.order-item-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


div.order-item{
  height: 9vh;
  width: 23vw;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 20px;
  margin: 10px 0;
}

div.order-total{
  height: 10vh;
  width: 25vw;
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  bottom:0;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

}


  h3.order-pizza-price{
    font-family: 'K2D', sans-serif;
    font-size: larger;
    color: #379237;
    margin: 10px 10px;
  }

  h3.order-pizza-name{
    font-family: 'Kalam', cursive;
  font-weight: 900;
  color: #9D5C0D;
  font-size: large;
  margin: 0 2px;
  padding: 1px 1px;
  }

  button.checkout-button{
    font-family: 'Barriecito', cursive;
    font-weight: 500;
    font-size: larger;
    font-stretch: expanded;
    background: none;
    color: #FFE6C7;
    border: #CC9B6D 0.2px solid;
    height: 55px;
    width: 200px;
    border-radius: 20px;
  }
  
  button.checkout-button:hover{
    background-color: #E5890A;
    color: #FFE6C7;
    margin-top: -5px;
    transition: 0.3s;
    cursor: pointer;
  }

  h2.checkout-total{
    font-family: 'K2D', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: #E5890A;
    margin: 10px 10px;
    margin-right: 5px;
  }

  /* remove item cart */

div.button-group-order{
  width:60px;
  display: flex;
  margin-right: 10px;
}

  button.order-remove-pizza, button.order-qty-pizza{
    /* border-radius: 8px; */
    background-color: rgba(69, 69, 69, 0.5);
    color:white;
    height: 30px;
    width: 30px;
    border: 0.5px solid grey;
    margin: 0;
    font-family: 'Barriecito', cursive;
      font-weight: 600;
  font-size: large;
  
  }

  button.order-remove-pizza:hover{
    background-color: #E74646;
    cursor: pointer;
    
  }

  button.order-qty-pizza{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }

  button.order-remove-pizza{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0.5px 2px;
  }

  /* cart heading */
  div.cart-heading-div{
    margin: 0;
    background-color: rgba(229, 137, 10, 0.5);
    color: white;
    font-family: 'Barriecito', cursive;
    font-weight: 800;
    font-stretch: ultra-expanded;
    font-size: larger;
    height: 45px;
    display: flex;
    width:25vw;
    justify-content: center;
    align-items: center;
  }

  h4.order-pizza-description{
    font-family: 'Kalam', cursive;
  font-weight: 500;
  color:#E5890A;
  font-size: small;
  margin: 0 4px;
  line-height: 1.2;
  }

  div.order-pizza-deets-wrap{
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 20vw;
    padding: 5px 2px;
    
  }